<div class="wrapper">
	<div class="fb-comments" data-href="https://beyond2013.github.io/QuranicArabic/" data-numposts="5"></div>
</div>
<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '132842047369970',
      xfbml      : true,
      version    : 'v2.10'
    });
    FB.AppEvents.logPageView();
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script>
